*.iml
.gradle
/local.properties
/.idea/caches
/.idea/libraries
/.idea/modules.xml
/.idea/workspace.xml
/.idea/navEditor.xml
/.idea/assetWizardSettings.xml
.DS_Store
/build
/captures
.externalNativeBuild
.cxx

local.properties
keystore.properties

#Intellij
.idea/workspace.xml
.idea/tasks.xml
.idea/gradle.xml
.idea/misc.xml
.idea/compiler.xml
.idea/modules.xml
.idea/assetWizardSettings.xml
.idea/dictionaries
.idea/libraries
.idea/caches
.idea/codeStyles
.idea/deploymentTargetDropDown.xml
